node_modules/
npm-debug.log*
package-lock.json
venv/
**/__pycache__/
*.pyc
*.pyo
db.sqlite3
fabric-samples/
fabric_service/wallet/
config/connection-org1.json
backend/voting/connection-org1.json
*.tar.gz
*.log
.env
.DS_Store
Thumbs.db
.vscode/
frontend/dist/
frontend/node_modules/
__pycache__/
